.search {
  width: 550px;
  margin-right: 50px;
}

/* Styles cho nút "Sign Up" */
.signUpButton {
  display: flex;
  padding: 8px 12px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  font-size: 1.5rem; /* Kích thước chữ cho các mục menu */
  font-weight: 500;
  color: #333;
}

.signUpButton:hover {
  background-color: #ffee99;
}

.login {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.loginIcon {
  color: "#fff";
}

.mainMenu li {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển màu */
  border-top-left-radius: 10px; /* Góc trên bên trái */
  border-top-right-radius: 10px;
}

.mainMenu li:hover {
  background-color: #ffee99;
}
.mainMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Giữa các phần tử theo chiều ngang */
}

.mainMenu li {
  display: flex;
  align-items: center; /* Căn giữa các phần tử con (hình ảnh và văn bản) theo chiều dọc */
  margin-left: -10px;
}

.mainMenu a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Loại bỏ gạch dưới của liên kết */
  color: #000; /* Màu văn bản */
}

.mainMenu img {
  margin-right: 2px; /* Khoảng cách giữa hình ảnh và văn bản */
}

.mainMenu span {
  font-size: 1.2rem; /* Kích thước chữ cho các mục menu */
  font-weight: 500;
}
