.user {
  width: 1170px;
  margin: 0 auto;
}

.userTop {
  display: flex;
  padding-top: 25px;
  /* background-color: antiqus */
  gap: 30px;
  padding-bottom: 30px;
}

.menuLeft {
  width: 420px;
  height: 480px;
  /* background-color:burlywood; */
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.menuLeft ul li a {
  padding: 12px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuLeft ul {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.menuLeft ul li a:hover {
  background-color: #e4e7ed;
  border-radius: 4px;
}

.active {
  background-color: #e4e7ed; /* Màu nền khi mục đang được chọn */
  border-radius: 4px;
}

.btnLogout {
  text-decoration: none;
}

.menuLeft .btnLogout:hover {
  background-color: #f96f3a;
  color: #e4e7ed;
  transition: 0.2s;
}

.menuLeft .btnLogout {
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 31px;
  color: #f96f3a;
  border: 1px solid #f96f3a;
}

.promote {
  border-radius: 8px;
  background-color: #fff8d4;
  padding: 8px 12px;
}

.userPoint {
  display: block;
  padding-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
}

.promoteBody {
  display: flex;
  padding: 8px 0;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  gap: 8px;
}
.downloadTitle {
  font-weight: 700;
  line-height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  display: block;
}

.promoteContent {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 14px;
  margin-top: 4px;
}

.qr {
  height: 80px;
  width: 80px;
}

.download {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.menuRight {
  width: 720px;
  height: 480px;
}

.menuLeftName {
  font-size: 16px;
  line-height: 19px;
  color: #333;
}

.fullName {
  font-weight: 800;
  font-size: 18px;
}

.menuTop {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  gap: 20px;
  /* justify-content: center; Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.menuTop h2 {
  font-size: 20px;
  line-height: 24px;
  color: #333;
  font-weight: 400;
  justify-items: center;
}

.filter {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-bottom: 15px;
}

.filterTypeScroll {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  text-decoration: none;
}

.filterTypeScroll a {
  background: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  color: #333;
  padding: 10px 20px;
  text-align: center;
}

.filterTypeScroll a:hover {
  border-color: #023f88;
  color: #023f88;
}

.listOrder {
  height: 370px;
  width: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
}

.notfoundList {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
  margin-top: 12px;
}

.notfoundList > p {
  font-size: 18px;
  font-weight: 550;
  margin: 10px 0;
}

.notfoundList > span {
  color: #9da7bc;
}

.product {
  margin: 20px 15px;
  border: 1px solid aqua;
  margin-bottom: 20px;
  padding: 10px 5px;
  border-radius: 8px;
  background-color: hsl(65, 49%, 91%);
}

.productItem{
  margin: 0;
  padding-bottom: 20px;
}


.productImg {
  display: flex;
  gap: 20px;
  cursor: pointer;
  margin-top: 20px;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid rgb(137, 141, 141);

}

.productInfo{
  width: 391px;
}

.productPrice {
  display: flex;
  width: 150px;
}

.productPrice p{
  color: #ee4d2d;
}

.status {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 15px; */
 
}

.status p strong{
  font-size: 14px;
  color: #ee4d2d;
}


.lh {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.lh button{
  padding: 10px 5px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .09)
}

.lh button:first-child{
  background-color: #EE4D2D;
  color: #fff;
  border: none;
  border-color: #ba2b0f;
}

.lh button:first-child:hover{
  opacity: 0.9;
}

.lhBtn{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.lhYourcancel{
display: flex;
align-items: center;
justify-content: flex-start;
color: rgba(0, 0, 0, .54);
  font-size: 12px;
}

.total{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.total strong{
  color: #EE4D2D;
}

.cancelOrder{
  display: flex;
  justify-content: center;
}
.groupButtonDirect {
  max-width: 350px;
  margin: 15px auto 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  font-size: 12px;
}

.groupButtonDirect a {
  border: 1px solid #288ad6;
  padding: 9px 10px;
  display: block;
  margin: 3px 5px;
  border-radius: 4px;
  font-weight: 400;
  color: #023f88;
}

.home {
  color: #023f88;
}

.profile {
  width: 720px;
  /* height: 480px; */
  /* background-color: #288ad6; */
}

.profile h2 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

.profileArea {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}

.profileArea h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.profileMain {
  margin: 0;
}

.profileInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.profileInfo p {
  display: inline;
}

.profileInfo a {
  vertical-align: top;
  color: #023f88;
  font-size: 15px;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin-left: 10px;
}

.profileInputGroup {
  /* display: none; */
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
  background: #f5f5f5;
  gap: 10px;
  border: 1px solid #f5f5f5;
}

.profileInput {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-top: 10px;
}

.profileInput span {
  cursor: none;
  font-size: 14px;
}

.btnProfileEdit {
  display: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
}

.btnProfileEdit a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid rgb(133, 139, 139);
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #fff8d4;
}

.addressArea {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0 25px 0;
  height: auto;
}

.addressArea h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 700;
}

.button {
  width: 342px;
  margin: 25px auto 15px auto;
  display: block;
  border-radius: 3px;
  text-align: center;
  background-color: #f96f3a;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
