.container {
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.header {
  padding: 0 0 25px 0;
  text-align: center;
  color: #2c3e50;
  font-size: 24px;
  font-weight: bold;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #7f8c8d;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
  color: #34495e;
  /* border-bottom: 2px solid #ecf0f1; */
}

.table th {
  font-weight: bold;
  background-color: #f5f5f5;
}

.table td p{
  width: 50px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}


.table tr:hover {
  background-color: #ecf0f1;
}

.status-active {
  color: #27ae60;
  font-weight: bold;
}

.status-inactive {
  color: #e74c3c;
  font-weight: bold;
}

.actions-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions-button:hover {
  background-color: #2980b9;
}

.actions-delete {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions-delete:hover {
  background-color: #c0392b;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 1000px;
  max-width: 100%;
  max-height: 90%;
  /* max-height: 100%; */
  overflow-y: auto;
  overflow-x: hidden;
}

.modal h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  color: #34495e;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #34495e;
}

.modalActions {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 20px;
}

.updateButton,
.cancelButton {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.updateButton {
  background-color: #2ecc71; 
  color: white;
}

.updateButton:hover {
  background-color: #27ae60; 
}

.cancelButton {
  background-color: #e74c3c; 
  color: white;
}

.cancelButton:hover {
  background-color: #c0392b; 
}

.modal input:focus {
  outline: none;
  border-color: #3498db; 
}

@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }

  .modal {
    width: 90%;
    padding: 20px;
  }

  .modal h2 {
    font-size: 20px;
  }

  .updateButton,
  .cancelButton {
    font-size: 14px;
  }
}

.addButton {
  background-color: #4caf50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển màu nền và nhấn khi bấm */
  margin-bottom: 20px;
}

.addButton:hover {
  background-color: #45a049; 
}

.addButton:active {
  transform: scale(0.98); 
}

.addButton svg {
  margin-right: 8px; 
}

.addButton:focus {
  outline: none; 
}

.add{
  display: flex;
  justify-content: space-between;
}

.addinput{
  width: 49%;
  
}