.mainContent {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: calc(100% - 48px); */
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  font: 14px / 18px Arial, Helvetica, sans-serif;
  color: #333;
  justify-content: space-between;
}

.listContent {
  line-height: 21px;
  padding-top: 10px;
}

.listContent a {
  color: #2f80ed;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

.col {
  width: 30%;
  float: left;
}

.listMenu {
  margin-top: 10px;
}
.listMenu li {
  padding-top: 10px;
  margin-left: -40px;
}

.listMenu li a {
  text-decoration: none;
  transition: 0.2s;
  color: #333;
  line-height: 21px;
  padding-left: -40px;
}
.copyright {
  background-color: #f1f1f1;
}

.copyright p {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: calc(100% - 48px); */
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
  font-size: 12px;
}
