.listproduct {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: flex-start; */
  justify-content: center;
  margin-top: 15px;
  padding: 10px;
}

.product {
  width: 172px;
  height: 346px;
  border: 1px solid #f2f4f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-shrink: 0; /* Đảm bảo sản phẩm không bị co lại khi xuống dòng */
  white-space: "nowrap";
  cursor: pointer;
}
.product:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  transition: transform 0.3s ease-in-out; /* Mượt mà khi chuyển động */
}

/* Khi hover vào sản phẩm, ảnh sẽ di chuyển lên 5px */
.product:hover img {
  transform: translateY(-5px); /* Di chuyển ảnh lên 5px */
}

.producttitle {
  color: #1d2939;
  margin: 10px 5px; /* Thêm khoảng cách cho phần tiêu đề */
  font-size: 1.3rem;
  font-weight: 600;
  white-space: wrap; /* Ngừng xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản thừa */
  text-overflow: ellipsis; /* Thêm dấu ba chấm khi văn bản dài */
  cursor: pointer;

}

.product:hover h3 {
  color: #288ad6;
}

.originalprice {
  color: #dd2f2c;
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Ẩn phần thừa và hiển thị ba chấm */
  cursor: pointer;
}

.oldprice {
  text-decoration: line-through; /* Gạch ngang */
  color: gray;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.discount {
  color: #dd2f2c;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #2a83e9;
  background-color: #f1f8fe;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  opacity: 0.9;
  transition: transform 0.3s ease-in-out;
  background-color: #fceba1;
}

.image {
  height: 154px;
  width: 168px;
  cursor: "pointer";
  margin: "5px 1px";
  border-radius: "5px";
  display: block;
  /* text-align: center; */
  /* justify-items: center; */
}

.filterAll{
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  gap: 20px;
  cursor: pointer;
  flex-wrap: wrap;

}

.filter{
  display: flex;
  gap: 7px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ebedef;  
}

.brands{
  display: flex;
  gap: 7px;
  outline: 0.8px solid #2a83e9;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ebedef;  
}

.filter:first-child {
  border: 0.8px solid #2a83e9; 
  background-color:  #bdd2eb; 
}



/* .filter:not(:first-child):hover {
  outline: 0.8px solid #2a83e9; 
  
} */

.brands p{
color: #4a90e2;
;}


.all{ 
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.sort{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  gap: 15px;
  cursor: pointer;
}

.sort p{
  font-size: 14px;
}

.selected{
  color: rgba(42, 131, 233, 1);
}


.loc{
  margin:  20px;
  margin-left: 20px;
  background-color: #FFFFFF;
  border:1px solid aqua;
  padding: 15px;
  border-radius: 5px;
  max-height: 999px;

}



.dacquyen{
  display: flex;
  gap: 30px;
  font-size: 14px;
  gap: 20px;
}

.dacquyen p{
  display: flex;
  gap: 7px;
}

.dacquyen p input{
font-size: 20px;
}

.filterPhone{
display: flex;
gap: 1%;
flex-wrap: wrap;
margin-bottom: 20px;
}

.filterPhone > div {

  margin-top: 25px;
  width: 19%;
  box-sizing: border-box; 
}

.filterPhone > div span{
  font-weight: 600;
}

.listmoc{
  margin-top: 10px;
  margin-bottom: 10px;
}

.moc{
display: flex;
gap: 10px;
flex-wrap: wrap

}

.moc:not(:first-child){
  padding-top: 15px;
}

.moc p{
  
  padding: 7px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
 
}



.selectedMoc{
  color: #288AD6;
  outline: 1px solid #288AD6;
}

.mucGiaPhuHop{
  color: #288AD6;
  cursor: pointer;
}

.phoneType{
  display: flex;
  gap: 20px;
}

.phoneType div{
  padding: 7px;
  border: 1px solid #e0e0e0;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

.popularPhone{
  padding: 7px;
  border: 1px solid #e0e0e0;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

.popularPhone:hover{
  color: #288AD6;
  border: 1px solid #288AD6;
  cursor: pointer;
}

.phoneType div:hover{
  color: #288AD6;
  border: 1px solid #288AD6;
  cursor: pointer;
}

.gameDemand{
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.gameDemand a{
  font-size: 15px;
  margin-top: 5px;
  padding: 8px 9px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  align-items: center;
  color: #333;
  display: inline-block;
}

.gameDemand div{
  display: flex;
  gap: 5px;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
}

.filterList a {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.showTotalItem {
  width: auto;
  float: left;
  max-width: 33%;
}

.btnFilter{
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.btnFilter button:hover{
opacity: 0.8;
}

.btnFilter button:first-child{
  font-size: 20px;
  padding: 5px;
  background-color: #288AD6;
  cursor: pointer;
}

.btnFilter button:last-child{
  font-size: 20px;
  padding: 5px;
  background-color: red;
  cursor: pointer;
}

